<% include partials/header%>

<link rel="stylesheet" type="text/css" href="/stylesheets/about.css">
<div id="aboutssa">
<img src="https://scontent-yyz1-1.cdninstagram.com/vp/d3e9030eb770b9045f5e4591ceb7ae44/5C8C2A79/t51.2885-15/e35/17266264_609152545947360_4129459043326492672_n.jpg">   
</div>
<div class=container>
    <h1>What is the SSA Annual Conference?</h1>
    <p>SSA Nationals is an intercollegiate conference which aims to to unite Somali youth organizations situated all over North America in an effort to create a voice for the diaspora. We hope to motivate Somali youth to be active members within their communities and to also create a dialogue for lasting change. The theme for this year’s conference is “Changing the Narrative: Celebrating Somali Success”. We chose this theme because we often hear about all the negativity that is happening in our communities and it is important that we recognize and also celebrate the positivity surrounding us, how much we have accomplished and the success that is yet to come. The students that attend the SSA annual conference will get to learn from inspirational role models from all walks of life and learn how they can face challenges to better serve their communities.</p>
</div>


<div class="container">
    <h3>If you have any questions at all, please feel free to contact us.</h3> 
    
   <em >Indicates required field</em>
<form action="/about"  method="post" role="form"> 
<!--The role="form" attribute is to assist with accessibility for users with screen-readers or similar devices.-->
    
    <div class="form-group required">
          <label id="namelabel" class="control-label">Name</label>
            <div class="row">
                <div class="form-row">
                    <div class="col-xs-6">
                        <input  type="text" class="form-control" id="first" name="first" aria-labelledby="namelabel" placeholder="First Name" required>
                    </div>
                    <div class="col-xs-6">
                        <input type="text" class="form-control" id="last"  name="last" aria-labelledby="namelabel" placeholder="Last Name" required>
                    </div>
                </div>
            </div>
            
            
    <div class="form-group required">
            <label class="control-label" for="email">Email</label>
            <input required type="email" class="form-control" id="email" name="email" placeholder="Email" required >
    </div>
    <div class="form-group required">
        <label class="control-label"for="comment">Comment</label>
      <textarea id="comment" name="comment" class="form-control"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
<% include partials/footer%>