<% include partials/header%>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="/stylesheets/exp.css">


<img src="https://odis.homeaway.com/odis/destination/7e45c031-5e01-46fc-a7c2-924b8058f6a3.hw1.jpg">
<div class="box">
    <h1>Experience Toronto</h1>
    <p>For the first time ever, SSA Nationals is being held in Canada! We want to ensure that everyone travelling to Toronto has a great experience.This city is filled with things to do for
    just about anyone but these are just few things we came up with 
    to help you explore and enjoy this city.</p>
    
    <h2><strong>Restaurants</strong></h2>
    <em class="halal">** Restaurants in green are halal</em>
    
    
    
    <div class="container">
        <h3><strong>Group Dinner</strong></h3>
      <div class="row">
        <div class="col">
             <ul>
            <li>Warehouse (all menu items $6 and it’s walking distance from Saturday venue)</li>
            <li class="halal">Boston Pizza (Halal at select locations) (several locations)</li>
            <li>Joeys (walking distance from Saturday Venue)</li>
            <li>Moxies (inside Yorkdale mall - 10 min drive from Friday venue)</li>
            <li>Cheesecake Factory (inside Yorkdale mall - 10 min drive from Friday venue)</li>
            <li>Kensington Market: Dirty Bird Chicken & Waffles (13 min drive from Sat and Sun Venue)</li>
            <li class="halal">Kensington Market: Top Gun Burgers (13 min drive from Sat and Sun Venue)</li>
            <li>PG Clucks (13 min drive from Sat and Sun Venue)</li>
            <li class="halal">Cluck Clucks (7 min drive from Sat and Sun venue)</li>
            <li class="halal">Paramount Fine Foods (7 min drive from Sat and Sun venue)</li>
            <li class="halal">The Halal Guys (5 min drive from Sat and Sun venue)</li>
            <li class="halal">ASAP City (walking distance from Sat and Sun venue)</li>
            <li class="halal">Maha’s Restaurant (10 min drive from Sat and Sun venue)</li>
         </ul>
        </div>
        <div class="col">
          <img src="https://images.dailyhive.com/20170518063512/warehouse.jpg">
        </div>
      </div>
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
   
    
    
    
    <h3><strong>Somali Restaurants</strong></h3>
    
    <ul>
        <img id = "mush" src="https://assets3.thrillist.com/v1/image/2685692/size/tmg-article_default_mobile.jpg">
        <li class="halal">Istar (beside Friday venue) **open 24 hours</li>
        <li class="halal">Etob (8 min from Friday venue)</li>
        <li class="halal">Hamdi (6 min from Friday venue)</li>
        <li class="halal">Sahan (30 min from Sat venue)</li>
        <li class="halal">Mushkaki (5 min from Friday venue)</li>
        <li class="halal">Xawaash (7 min from Friday Venue)</li>
    </ul>
    
    <h3><strong>Breakfast/Brunch</strong></h3>
    
    <ul>
        <li>The Good Fork (17 min drive from Friday venue)</li>
        <img id="brunch" src="https://media.blogto.com/articles/20180428-school-07.jpg?w=2048&cmd=resize_then_crop&height=1365&quality=70">
        <li>Old School (near Sat and Sun venues)</li>
        <li>Insomnia (15 min from Sat venue)</li>
        <li>Portland Variety (15 min from Sat venue)</li>
        <li>Kensington Market Hanabusa Café (13 min drive from Sat and Sun venue)</li>
        <li>School Restaurant (20 min drive from Sat and Sun venue)</li>
        <li>Denny’s (several locations across Toronto)</li>
        <li>Starving Artist (near Sat and Sun venue)</li>
        <li>Cora’s (near Sat and Sun venues)</li>
    </ul>
    
    
    <h3><strong>Dessert Spots</strong></h3>
    <ul>
        <li>Demetres (several locations)</li>
        <li>Spins (15 min from Friday venue)</li>
        <li>Hollywood Cone Canada (15 min from Sat and Sun venue)</li>
        <li>D-Spot (15 min from Friday venue)</li>
        <img id= "dessert" src="https://media.blogto.com/uploads/2017/04/22/20170419-hollywoodcone-06.jpg?h=2500&cmd=resize&quality=70&w=1400">
        <li>Dunk n Dip (15 min from Friday venue)</li>
        <li>FUGO Desserts (walking distance from Sat and Sun venue)</li>
    </ul>


    <h2><strong>Tourist Attractions</strong></h2>
    
    <ul>
        <li>CN Tower (10 min drive from Sat and Sun venue)</li>
       <strong>**try the edge walk over the CN Tower if you’re not afraid of heights**</strong>
       <img id = "edge" src="https://www.seetorontonow.com/wp-content/uploads/2012/10/edgewalk1.jpg">
        <li>Ripley’s Aquarium (10 min drive from Sat and Sun venue)</li>
        <li>Eaton Centre &amp; Yonge-Dundas Square (walking distance from Sat and Sun venue)</li>
        <li> Nathan Phillip Square (10 min walk from Sat and Sun venue)</li>
        <li>Kensington Market (10 min drive from Sat and Sun venue)</li>
        <li>Yorkdale Mall (15 min drive from Friday venue)</li>
        <li>Distillery District (10 min drive from Sat and Sun venue)</li>
    </ul>
    
     <h2><strong>Group Activities</strong></h2>
    
    <ul>
        <li>Rec Room (Adult arcade pub - 10 min from Sat and Sun venue)</li>
         <img id = "group" src="https://www.akseas.net/wp-content/uploads/2018/05/Dave-and-Busters.png">
        <li>Dave and Busters (Arcade and restaurant - 15 min from Friday venue)</li>
        <li>Pursuit OCR (adult obstacle course - 10 min from Friday venue)</li>
        <li>Karaoke (several locations)</li>
        <li>Bowling (several locations)</li>
        <li>Movies (several locations)</li>
        <li>Escape rooms (several locations)</li>
        <li>Royal Ontario Museum (5 min from Sat and Sun venue)</li>
        <li>Museum of Illusions (5 min from Sat and Sun venue)</li>
    </ul>


</div>


<% include partials/footer%>