<% include partials/header%>
<link rel="stylesheet" type="text/css" href="/stylesheets/ssa.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<div id="content">
				<div class="can">
					<h1 style="font-size:3.8vw">WELCOME TO THE 6IX</h1>
				</div>
				<h2 style="font-size:2.8vw">March 29th -March 31st 2019</h3>
				<hr id ="line">
			</div>
		</div>
	</div>
	<a href="https://www.facebook.com/SSANational/?fref=ts" target="_blank"><i class="fab fa-facebook fa-2x"></i></a>	
	<a href="https://twitter.com/SSAConference" target="_blank"><i class="fab fa-twitter-square fa-2x"></i></a>	
	<a target="_blank" href="mailto:ssanational@gmail.com" ><i class="fas fa-at fa-2x"></i></a>	
</div>


	<div class="container">
		<div class="title">
			<h1>3rd Annual SSA Nationals Conference</h1>
			<h3>Brought to you by:</h3>
		</div>
	</div>
	
	<div class="container">
	<div class="row">
		<div class="col-md-6">
			<div class="caption">
			    	<h2> Ryerson University</h2>
            </div>
			<img class="img-circle" src="https://pbs.twimg.com/profile_images/689650410617864192/zws345MB_400x400.jpg">
			<span class="helper"></span>
			    
	    </div>
		<div class="col-md-6">
			<div class="caption">
			     <h2> University of Toronto</h2>
			           	
            </div>
		    <img class="img-circle" src="https://scontent.fyyz1-1.fna.fbcdn.net/v/t1.0-9/41671142_2096455480366246_1629569364434878464_n.jpg?_nc_cat=108&_nc_ht=scontent.fyyz1-1.fna&oh=02e8904054110023920ed3456c8ba86f&oe=5C870510">
		        <span class="helper"></span>
	
	    </div>
	</div>
</div>

	

<% include partials/footer%>