<% include partials/header%>
<link rel="stylesheet" type="text/css" href="/stylesheets/paypal.css">
<div id="paypalssa">
<img src="https://scontent-yyz1-1.cdninstagram.com/vp/08f3f96e64936aa66b0f8b56a5af7e82/5CAB103A/t51.2885-15/e35/12558641_574537759381008_5454307_n.jpg">   
</div>

<div class="container">
    <h1>3RD ANNUAL SSA CONFERENCE 2019</h1>
    <h2 id="register">Thank you for registering!</h2>
    <div class="member">
        <h3>Note: The tickets for the Public will be available soon! </h3>
</div>
    
<div class="tdetail">
        <h1>SSA MEMBER 3-DAY PASS</h4>
        <h1>Price: $40USD</h4>
        <h1>Click Link below for Payment</h4>
</div>

<form  action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="AJTXTLLUZ2D2U">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>



<% include partials/footer%>