<% include partials/header%>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="/stylesheets/schedule.css">

<img id="schedule" srcset="https://scontent-yyz1-1.cdninstagram.com/vp/1e056ff2cf7397b0bd45f0bfd4a684ee/5CE66C1E/t51.2885-15/e35/13549645_838559562912282_1794260588_n.jpg?_nc_ht=scontent-yyz1-1.cdninstagram.com 640w,https://scontent-yyz1-1.cdninstagram.com/vp/1e056ff2cf7397b0bd45f0bfd4a684ee/5CE66C1E/t51.2885-15/e35/13549645_838559562912282_1794260588_n.jpg?_nc_ht=scontent-yyz1-1.cdninstagram.com 750w,https://scontent-yyz1-1.cdninstagram.com/vp/1e056ff2cf7397b0bd45f0bfd4a684ee/5CE66C1E/t51.2885-15/e35/13549645_838559562912282_1794260588_n.jpg?_nc_ht=scontent-yyz1-1.cdninstagram.com 1080w">
<div class="round1">
    <h1>SSA NATIONAL 2019 BRIEF CONFERENCE OUTLINE</h1>

    <h2>Friday, March 29th <em>(Exclusive to SSA executive members)</em></h2>
    <h4>Room: Istar Banquet Hall</h4>
    <h4>Address: 235 Dixon Rd, Etobicoke, ON M9P 2M5</h4>
    <h4>Time: 12:00pm-5:00pm</h4>
        <ul>
            <li>Breakfast + Introductions</li>
            <li>Presentations (leadership, theme: celebrating Somali excellence)</li>
            <li>Games/ice breakers</li>
            <li>Discussions</li>
            <li>Lunch</li>
            <li>Competition against the SSA’s present </li>
        </ul>
        
        
     <h2>Saturday March 30th </h2>
    <h4>Room: Ryerson University George Vari Engineering and Computing Centre</h4>
    <h4>Address: 245 Church St, Toronto, ON M5B 1Z4</h4>
    <h4>Time: 11:00am-6:00pm</h4>
        <ul>
            <li>Breakfast</li>
            <li>Panel discussions centered around professional development</li>
            <li>Panelist from various careers ranging in healthcare, government, technology, non-traditional 
            creative industries and many more will be present</li>
            <li>Networking session</li>
            <li>Lunch</li>
            <li>Workshops</li>
            <li>Battle of the Podcasts</li>
        </ul>
        
        
        <h2>Sunday March 31st  </h2>
    <h4>Room: TBA</h4>
    <h4>Time: 4:00pm-8:00pm</h4>
        <ul>
            <li>Cultural fashion show</li>
            <li>Spoken word performances</li>
            <li>Musical performances</li>
            <li>Interactive segments</li>
            <li>Special musical Performance</li>
            <li>Keynote Speaker</li>
            <li>Somali owned businesses Bazaar </li>
        </ul>

    
</div>

<% include partials/footer%>