<% include partials/header%>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="/stylesheets/schedule.css">

<img id="schedule" srcset="https://scontent-yyz1-1.cdninstagram.com/vp/1e056ff2cf7397b0bd45f0bfd4a684ee/5CE66C1E/t51.2885-15/e35/13549645_838559562912282_1794260588_n.jpg?_nc_ht=scontent-yyz1-1.cdninstagram.com 640w,https://scontent-yyz1-1.cdninstagram.com/vp/1e056ff2cf7397b0bd45f0bfd4a684ee/5CE66C1E/t51.2885-15/e35/13549645_838559562912282_1794260588_n.jpg?_nc_ht=scontent-yyz1-1.cdninstagram.com 750w,https://scontent-yyz1-1.cdninstagram.com/vp/1e056ff2cf7397b0bd45f0bfd4a684ee/5CE66C1E/t51.2885-15/e35/13549645_838559562912282_1794260588_n.jpg?_nc_ht=scontent-yyz1-1.cdninstagram.com 1080w">
<div class="round1">
    <h1>SSA NATIONAL 2019 BRIEF CONFERENCE OUTLINE</h1>

    <h2>Friday, March 29th <em>(Exclusive to SSA executive members)</em></h2>
    <h4>Room: Istar Banquet Hall</h4>
    <h4>Address: 235 Dixon Rd, Etobicoke, ON M9P 2M5</h4>
        <ul  style="list-style-type:none;">
            <li><strong>11:00 -11:30 am: </strong> Registration + Breakfast</li>
             <li><strong>11:30 - 11:45 pm: </strong> Opening Remarks</li>
             <li><strong>11:45 am -12:30 pm: </strong>  SSA Introductions + Icebreakers </li>
            <li><strong>12:30 -12:45 pm: </strong>  Importance of Celebrating Somali Success  </li>
           <li><strong>12:45 - 1:00 pm: </strong> SEF presentation </li>
           <li><strong>1:00 pm - 1:45 pm: </strong>  Jummah Prayer </li>
           <li><strong>2:15 pm - 3:45 pm </strong>   Shark Tank: Case Competitions </li>
           <li><strong>3:45 pm - 4:30 pm </strong>   Lunch </li>
        </ul>
        
        
     <h2>Saturday March 30th </h2>
    <h4>Room: Ryerson University George Vari Engineering and Computing Centre</h4>
    <h4>Address: 245 Church St, Toronto, ON M5B 1Z4</h4>
     <ul  style="list-style-type:none;">
            <li><strong>11:00 -11:45 pm: </strong> Registration + Breakfast</li>
             <li><strong>12:00 - 12:15 pm: </strong> Opening Remarks</li>
             <li><strong>12:15 - 12:45 pm: </strong>  Keynote Speaker </li>
           <li><strong>12:45 - 1:45 pm : </strong> Panel Discussion: Celebrating Somali Professionals </li>
           <li><strong>1:45 - 2:00 pm: </strong>  Keynote Speaker </li>
           <li><strong>2:00 - 2:45 pm </strong>   Lunch + Exhibit + Bazaar
            
            <ul>
                <li>
                    Botan Beauty
                </li>
                <li>
                    Rootworks (The Water Project)
                </li>
            </ul>
           
           
           </li>
           <li><strong>2:45 - 3:45 pm  </strong>  
           Breakout Session
            <ul>
                <li>
                    Networking & Interviewing Skills with Deqa Gelle (Founder at OneStone HR)

                </li>
                <li>
                    NGO (ARAHA)
                </li>
            </ul>
           
           </li>
           <li><strong>3:45 - 4:45 pm  </strong>   Battle of the Podcasts ( SSCOPE Media, Fully Living Podcast, Abwaan Chronicles, OTEA Podcast) </li>
           <li><strong>4:45 - 5:00 pm </strong>   Closing Remarks </li>
           
        </ul>
        
        
        <h2>Sunday March 31st  </h2>
    <h4>Room: TBA</h4>
    <ul  style="list-style-type:none;">
            <li><strong>4:00-4:30 pm: </strong> Host Introductions</li>
             <li><strong>4:30-4:45 pm : </strong>  Cultural Fashion Showcase </li>
             <li><strong>4:50-5:10 pm: </strong>  Special Performances </li>
            <li><strong>5:10-6:10 pm: </strong>  Interactive Session + Cultural Dances + Comedic Skit + Special Performances   </li>
           <li><strong>6:10-6:25 pm: </strong> RootWorks (The Water Project) Presentation  </li>
           <li><strong>6:30-6:45 pm: </strong>  Break </li>
           <li><strong>6:45-7:15 pm: </strong>   Main Special Performances </li>
           <li><strong>7:15-7:30 pm:  </strong> Closing Remarks</li>
        </ul>

    
</div>

<% include partials/footer%>