<% include partials/header%>

<div id="ssaschool">
	<img src="https://www.nationalpedia.com/wp-content/uploads/2017/04/national-flag-of-Somalia.jpg">
</div>


<link rel="stylesheet" type="text/css" href="/stylesheets/schools.css">


<div class="container">
    <h1>Somali Student Organizations Across North America</h1>
    <p>There will be Somali Student organizations from schools all across North America being represented at SSA National 2019. Each of their Twitter accounts and/or links to more information about their organizations can be found here. 
    (Registration is still ongoing so more SSAs will continue to be added)  </p>
</div>


<!--Ist Row-->
<div class="container">
	<div class="row">
		<div class="col-md-6">
			<img class="img-circle" src="https://pbs.twimg.com/profile_images/689650410617864192/zws345MB_400x400.jpg">
			<span class="helper"></span>
			    <div class="caption">
			            <h2>Somali Student Association at Ryerson University <a href="https://twitter.com/ssaryerson?lang=en" target="_blank"> @SSARyerson</a></h2>
			            <a href="https://www.facebook.com/Ryerson-Somali-Students-Association-1693987107489322/" target="_blank"><i class="fab fa-facebook fa-2x"></i></a>	
                         <a href="https://twitter.com/ssaryerson?lang=en" target="_blank"><i class="fab fa-twitter-square fa-2x"></i></a>	
                </div>
	    </div>
		<div class="col-md-6">
		    <img class="img-circle" src="https://scontent.fyyz1-1.fna.fbcdn.net/v/t1.0-9/41671142_2096455480366246_1629569364434878464_n.jpg?_nc_cat=108&_nc_ht=scontent.fyyz1-1.fna&oh=02e8904054110023920ed3456c8ba86f&oe=5C870510">
		        <span class="helper"></span>
		    <div class="caption">
			            <h2>Somali Student Association at University of Toronto <a href="https://twitter.com/uoftsosa?lang=en" target="_blank" > @uoftsosa</a></h2>
			            <a href="https://www.facebook.com/uoftsosa/" target="_blank"><i class="fab fa-facebook fa-2x"></i></a>	
                        <a href="https://twitter.com/uoftsosa?lang=en" target="_blank"><i class="fab fa-twitter-square fa-2x"></i></a>	
            </div>
	    </div>
	</div>
</div>

<!--	2nd Row -->
<div class="container">
	<div class="row">
		<div class="col-md-6">
			<img class="img-circle" src="https://pbs.twimg.com/profile_images/842543644041068545/B5oF8_Tw_400x400.jpg">
			<span class="helper"></span>
			    <div class="caption">
			            <h2>Somali Student Association at University of Regina <a href="https://twitter.com/UofRSSA?lang=en" target="_blank"> @UofRSSA</a></h2>
			            <a href="https://www.facebook.com/UofRSSA/" target="_blank"><i class="fab fa-facebook fa-2x"></i></a>	
                         <a href="https://twitter.com/UofRSSA?lang=en" target="_blank"><i class="fab fa-twitter-square fa-2x"></i></a>	
                </div>
	    </div>
		<div class="col-md-6">
		    <img class="img-circle" src="/images/alberta.jpg">
		        <span class="helper"></span>
		    <div class="caption">
			            <h2>Somali Student Association at University of Alberta</h2>
			            <a href="https://www.facebook.com/Somali-Students-Association-UofA-192176151347162/" target="_blank"><i class="fab fa-facebook fa-2x"></i></a>	
                        	
            </div>
	    </div>
	</div>
</div>


		 <!---- 3rd Row -->
<div class="container">
	<div class="row">
		<div class="col-md-6">
			<img  class="img-circle" src="https://pbs.twimg.com/profile_images/853815095557668865/N8S9cw9g_400x400.jpg">
			<span class="helper"></span>
			    <div class="caption">
			            <h2>Somali Student Association at University of Washington <a href="https://twitter.com/uw_ssa?lang=en" target="_blank"> @UW_SSA</a></h2>
			            <a href="https://www.facebook.com/ssa.uw" target="_blank"><i class="fab fa-facebook fa-2x"></i></a>	
                         <a href="https://twitter.com/uw_ssa?lang=en" target="_blank"><i class="fab fa-twitter-square fa-2x"></i></a>	
                </div>
	    </div>
		<div class="col-md-6">
		    <img class="img-circle" src="https://pbs.twimg.com/profile_images/846219064703889410/4cpzvpkV_400x400.jpg">
		        <span class="helper"></span>
		    <div class="caption">
			            <h2>Somali Student Association at Ohio State University<a href="https://twitter.com/SSAConference"> @SSA_OSU</a></h2>
			            <a href="https://www.facebook.com/SSAatOSU/" target="_blank"><i class="fab fa-facebook fa-2x"></i></a>	
                        <a href="https://twitter.com/SSAConference" target="_blank"><i class="fab fa-twitter-square fa-2x"></i></a>	
            </div>
	    </div>
	</div>
</div>

<!--4th Row-->
<div class="container">
	<div class="row">
		<div class="col-md-6">
			<img  class="img-rounded"src="https://pbs.twimg.com/profile_images/854011110181060608/bF2MjPI9_400x400.jpg">
			<span class="helper"></span>
			    <div class="caption">
			            <h2>Somali Student Association at Michigan State University<a href="https://twitter.com/samofmsu" target="_blank"> @SAMofMSU</a></h2>
			            <a href="https://www.facebook.com/samofmsu/" target="_blank"><i class="fab fa-facebook fa-2x"></i></a>	
                         <a href="https://twitter.com/samofmsu" target="_blank"><i class="fab fa-twitter-square fa-2x"></i></a>	
                </div>
	    </div>
		<div class="col-md-6">
		    <img class="img-circle" src="https://pbs.twimg.com/profile_images/963887292480827392/Vy3aC_K7_400x400.jpg">
		        <span class="helper"></span>
		    <div class="caption">
			            <h2>Somali Student Association at Arizona State University <a href="https://twitter.com/ssa_asu" target="_blank"> @ssa_asu</a></h2>
			            <!--<a href="https://www.facebook.com/SSANational/?fref=ts" target="_blank"><i class="fab fa-facebook fa-2x"></i></a>	-->
                        <a href="https://twitter.com/ssa_asu" target="_blank"><i class="fab fa-twitter-square fa-2x"></i></a>	
            </div>
	    </div>
	</div>
</div>


<!--5th Row-->

<div class="container">
	<div class="row">
		<div class="col-md-6">
			<img  src="https://pbs.twimg.com/profile_images/1062102230390788096/16xIk3Yu_400x400.jpg">
			<span class="helper"></span>
			    <div class="caption">
			            <h2>Somali Student Association at University of Minnesota <a href="https://twitter.com/ssaumn" target="_blank"> @ssaumn</a></h2>
			            <a href="https://www.facebook.com/ssaumn/" target="_blank"><i class="fab fa-facebook fa-2x"></i></a>	
                         <a href="https://twitter.com/ssaumn" target="_blank"><i class="fab fa-twitter-square fa-2x"></i></a>	
                </div>
	    </div>
		<div class="col-md-6">
		    <img height="317.59px" src="https://pbs.twimg.com/profile_images/528966651115761664/mgXhbRbV_400x400.jpeg">
		        <span class="helper"></span>
		    <div class="caption">
			            <h2>Somali Student Association at York University <a href="https://twitter.com/SSAYork" target="_blank"> @SSAYork</a></h2>
			            <a href="https://www.facebook.com/ssayork/" target="_blank"><i class="fab fa-facebook fa-2x"></i></a>	
                        <a href="https://twitter.com/SSAYork" target="_blank"><i class="fab fa-twitter-square fa-2x"></i></a>	
            </div>
	    </div>
	</div>
</div>

<!--6th Row-->
<div class="container">
	<div class="row">
		<div class="col-md-6">
			<img height="317.59px" src="http://www.ssaconference.org/uploads/1/3/4/1/13414663/editor/ssa-st-cloud.jpeg?1508437070">
			<span class="helper"></span>
			    <div class="caption">
			            <h2>Somali Student Association at St.Cloud State University</h2>
			           
			            <a href="https://www.facebook.com/groups/33747357273/?fref=ts" target="_blank"><i class="fab fa-facebook fa-2x"></i></a>	
                        	
                </div>
	    </div>
		<div class="col-md-6">
		    <img height="317.59px" src="http://www.ssaconference.org/uploads/1/3/4/1/13414663/published/ssa.png?1508437150">
		        <span class="helper"></span>
		    <div class="caption">
			            <h2>Somali Student Association at San Diego State University <a href="https://twitter.com/ssa_sdsu" target="_blank"> @SSA_SDSU</a></h2>
			         
			            <!--<a href="https://www.facebook.com/SSANational/?fref=ts" target="_blank"><i class="fab fa-facebook fa-2x"></i></a>	-->
                        <a href="https://twitter.com/ssa_sdsu" target="_blank"><i class="fab fa-twitter-square fa-2x"></i></a>	
            </div>
	    </div>
	</div>
</div>

<!--7th Row-->
<div class="container">
	<div class="row">
		<div class="col-md-6">
			<img  src="https://scontent-yyz1-1.xx.fbcdn.net/v/t1.0-9/54268200_772827083089946_5408996591841312768_n.jpg?_nc_cat=109&_nc_ht=scontent-yyz1-1.xx&oh=e96ca23c96702394c239cb1d3702f4e7&oe=5D20B414">
			<span class="helper"></span>
			    <div class="caption">
			            <h2>Somali Student Association at Middle Tennessee State University</h2>
			            <a href="https://www.facebook.com/SSAatMTSU/" target="_blank"><i class="fab fa-facebook fa-2x"></i></a>	
                         	
                </div>
	    </div>
		<div class="col-md-6">
		    <img class="img-circle" src="https://pbs.twimg.com/profile_images/973342627570499584/cd-JQIId_400x400.jpg">
		        <span class="helper"></span>
		    <div class="caption">
			            <h2>Somali Student Association at University of Toronto-Mississauga<a href="https://twitter.com/UTMSSA" target="_blank"> @UTMSSA</a></h2>
			            <a href="https://www.facebook.com/UTMSSA/" target="_blank"><i class="fab fa-facebook fa-2x"></i></a>	
                        <a href="https://twitter.com/UTMSSA" target="_blank"><i class="fab fa-twitter-square fa-2x"></i></a>	
            </div>
	    </div>
	</div>
</div>

<% include partials/footer%>