<% include partials/header%>

<div id="ssaschool">
	<img src="https://www.nationalpedia.com/wp-content/uploads/2017/04/national-flag-of-Somalia.jpg">
</div>


<link rel="stylesheet" type="text/css" href="/stylesheets/schools.css">


<div class="container">
    <h1>Somali Student Organizations Across North America</h1>
    <p>There will be Somali Student organizations from schools all across North America being represented at SSA National 2019. Each of their Twitter accounts and/or links to more information about their organizations can be found here. 
    (Registration is still ongoing so more SSAs will continue to be added)  </p>
</div>


<!--Ist Row-->
<div class="container">
	<div class="row">
		<div class="col-md-6">
			<img class="img-circle" src="https://scontent.fyyz1-1.fna.fbcdn.net/v/t1.0-9/1424272_1700885270132839_6073426780376006706_n.jpg?_nc_cat=106&_nc_ht=scontent.fyyz1-1.fna&oh=290581c7a1874404e2ef91c8a240b518&oe=5C7620B8">
			<span class="helper"></span>
			    <div class="caption">
			            <h2>Somali Student Association at Ryerson University <a href="https://twitter.com/ssaryerson?lang=en" target="_blank"> @SSARyerson</a></h2>
			            <a href="https://www.facebook.com/Ryerson-Somali-Students-Association-1693987107489322/" target="_blank"><i class="fab fa-facebook fa-2x"></i></a>	
                         <a href="https://twitter.com/ssaryerson?lang=en" target="_blank"><i class="fab fa-twitter-square fa-2x"></i></a>	
                </div>
	    </div>
		<div class="col-md-6">
		    <img class="img-circle" src="https://scontent.fyyz1-1.fna.fbcdn.net/v/t1.0-9/41671142_2096455480366246_1629569364434878464_n.jpg?_nc_cat=108&_nc_ht=scontent.fyyz1-1.fna&oh=02e8904054110023920ed3456c8ba86f&oe=5C870510">
		        <span class="helper"></span>
		    <div class="caption">
			            <h2>Somali Student Association at University of Toronto <a href="https://twitter.com/uoftsosa?lang=en" target="_blank" > @uoftsosa</a></h2>
			            <a href="https://www.facebook.com/uoftsosa/" target="_blank"><i class="fab fa-facebook fa-2x"></i></a>	
                        <a href="https://twitter.com/uoftsosa?lang=en" target="_blank"><i class="fab fa-twitter-square fa-2x"></i></a>	
            </div>
	    </div>
	</div>
</div>

<!--	2nd Row -->
<div class="container">
	<div class="row">
		<div class="col-md-6">
			<img class="img-circle" src="https://scontent.fyyz1-1.fna.fbcdn.net/v/t31.0-8/17310345_1677377445895708_6584684529839307503_o.jpg?_nc_cat=100&_nc_ht=scontent.fyyz1-1.fna&oh=7fa9c76ee5eacaa4e4d4e99e5f064882&oe=5C7C27FC">
			<span class="helper"></span>
			    <div class="caption">
			            <h2>Somali Student Association at University of Regina <a href="https://twitter.com/UofRSSA?lang=en" target="_blank"> @UofRSSA</a></h2>
			            <a href="https://www.facebook.com/UofRSSA/" target="_blank"><i class="fab fa-facebook fa-2x"></i></a>	
                         <a href="https://twitter.com/UofRSSA?lang=en" target="_blank"><i class="fab fa-twitter-square fa-2x"></i></a>	
                </div>
	    </div>
		<div class="col-md-6">
		    <img class="img-circle" src="http://www.ssaconference.org/uploads/1/3/4/1/13414663/edited/ua-ssa.jpeg">
		        <span class="helper"></span>
		    <div class="caption">
			            <h2>Somali Student Association at University of Alberta</h2>
			            <a href="https://www.facebook.com/Somali-Students-Association-UofA-192176151347162/" target="_blank"><i class="fab fa-facebook fa-2x"></i></a>	
                        	
            </div>
	    </div>
	</div>
</div>


		 <!---- 3rd Row -->
<div class="container">
	<div class="row">
		<div class="col-md-6">
			<img  class="img-circle" src="https://pbs.twimg.com/profile_images/853815095557668865/N8S9cw9g_400x400.jpg">
			<span class="helper"></span>
			    <div class="caption">
			            <h2>Somali Student Association at University of Washington <a href="https://twitter.com/uw_ssa?lang=en" target="_blank"> @UW_SSA</a></h2>
			            <a href="https://www.facebook.com/ssa.uw" target="_blank"><i class="fab fa-facebook fa-2x"></i></a>	
                         <a href="https://twitter.com/uw_ssa?lang=en" target="_blank"><i class="fab fa-twitter-square fa-2x"></i></a>	
                </div>
	    </div>
		<div class="col-md-6">
		    <img class="img-circle" src="https://instagram.fyyz1-1.fna.fbcdn.net/vp/ab8adccdedd4b6b97d684984555ec3bd/5C80C1B7/t51.2885-19/s320x320/12976269_689956727774478_2079129130_a.jpg">
		        <span class="helper"></span>
		    <div class="caption">
			            <h2>Somali Student Association at Ohio State University<a> @SSA_OSU</a></h2>
			            <a href="https://www.facebook.com/SSAatOSU/" target="_blank"><i class="fab fa-facebook fa-2x"></i></a>	
                        <a href="https://twitter.com/SSAConference" target="_blank"><i class="fab fa-twitter-square fa-2x"></i></a>	
            </div>
	    </div>
	</div>
</div>

<!--4th Row-->
<div class="container">
	<div class="row">
		<div class="col-md-6">
			<img  class="img-rounded"src="https://scontent.fyyz1-1.fna.fbcdn.net/v/t31.0-8/15800613_228409727605534_2828528490827549330_o.png?_nc_cat=109&_nc_ht=scontent.fyyz1-1.fna&oh=244f3e38afc93c587609aaf31064b5d5&oe=5C84AAFC">
			<span class="helper"></span>
			    <div class="caption">
			            <h2>Somali Student Association at Michigan State University<a href="https://twitter.com/samofmsu" target="_blank"> @SAMofMSU</a></h2>
			            <a href="https://www.facebook.com/samofmsu/" target="_blank"><i class="fab fa-facebook fa-2x"></i></a>	
                         <a href="https://twitter.com/samofmsu" target="_blank"><i class="fab fa-twitter-square fa-2x"></i></a>	
                </div>
	    </div>
		<div class="col-md-6">
		    <img class="img-circle" src="https://pbs.twimg.com/profile_images/963887292480827392/Vy3aC_K7_400x400.jpg">
		        <span class="helper"></span>
		    <div class="caption">
			            <h2>Somali Student Association at Arizona State University <a href="https://twitter.com/ssa_asu" target="_blank"> @ssa_asu</a></h2>
			            <!--<a href="https://www.facebook.com/SSANational/?fref=ts" target="_blank"><i class="fab fa-facebook fa-2x"></i></a>	-->
                        <a href="https://twitter.com/ssa_asu" target="_blank"><i class="fab fa-twitter-square fa-2x"></i></a>	
            </div>
	    </div>
	</div>
</div>


<!--5th Row-->

<div class="container">
	<div class="row">
		<div class="col-md-6">
			<img  src="https://scontent.fyyz1-1.fna.fbcdn.net/v/t31.0-8/11896401_763320677123436_8032767853509762841_o.jpg?_nc_cat=104&_nc_ht=scontent.fyyz1-1.fna&oh=0516f8ee8a3c76ddfef080a14ac6e37b&oe=5C404B4F">
			<span class="helper"></span>
			    <div class="caption">
			            <h2>Somali Student Association at University of Minnesota <a href="https://twitter.com/ssaumn" target="_blank"> @ssaumn</a></h2>
			            <a href="https://www.facebook.com/ssaumn/" target="_blank"><i class="fab fa-facebook fa-2x"></i></a>	
                         <a href="https://twitter.com/ssaumn" target="_blank"><i class="fab fa-twitter-square fa-2x"></i></a>	
                </div>
	    </div>
		<div class="col-md-6">
		    <img height="317.59px" src="https://scontent.fyyz1-1.fna.fbcdn.net/v/t1.0-1/c0.0.211.211/12654653_10153540226947779_6700335908688611830_n.jpg?_nc_cat=103&_nc_ht=scontent.fyyz1-1.fna&oh=f4bcb93bf636611b915f49c8a3d2480d&oe=5C6F3541">
		        <span class="helper"></span>
		    <div class="caption">
			            <h2>Somali Student Association at York University <a href="https://twitter.com/SSAYork" target="_blank"> @SSAYork</a></h2>
			            <a href="https://www.facebook.com/ssayork/" target="_blank"><i class="fab fa-facebook fa-2x"></i></a>	
                        <a href="https://twitter.com/SSAYork" target="_blank"><i class="fab fa-twitter-square fa-2x"></i></a>	
            </div>
	    </div>
	</div>
</div>

<!--6th Row-->
<div class="container">
	<div class="row">
		<div class="col-md-6">
			<img height="317.59px" src="http://www.ssaconference.org/uploads/1/3/4/1/13414663/editor/ssa-st-cloud.jpeg?1508437070">
			<span class="helper"></span>
			    <div class="caption">
			            <h2>Somali Student Association at St.Cloud State University</h2>
			           
			            <a href="https://www.facebook.com/groups/33747357273/?fref=ts" target="_blank"><i class="fab fa-facebook fa-2x"></i></a>	
                        	
                </div>
	    </div>
		<div class="col-md-6">
		    <img height="317.59px" src="http://www.ssaconference.org/uploads/1/3/4/1/13414663/published/ssa.png?1508437150">
		        <span class="helper"></span>
		    <div class="caption">
			            <h2>Somali Student Association at San Diego State University <a href="https://twitter.com/ssa_sdsu" target="_blank"> @SSA_SDSU</a></h2>
			         
			            <!--<a href="https://www.facebook.com/SSANational/?fref=ts" target="_blank"><i class="fab fa-facebook fa-2x"></i></a>	-->
                        <a href="https://twitter.com/ssa_sdsu" target="_blank"><i class="fab fa-twitter-square fa-2x"></i></a>	
            </div>
	    </div>
	</div>
</div>

<!--7th Row-->
<div class="container">
	<div class="row">
		<div class="col-md-6">
			<img  src="https://scontent.fyyz1-1.fna.fbcdn.net/v/t1.0-9/21078345_468949106811080_4252434060483747496_n.jpg?_nc_cat=100&_nc_ht=scontent.fyyz1-1.fna&oh=0c1844682d840db3d3bec8cc44e23f56&oe=5C70D1E0">
			<span class="helper"></span>
			    <div class="caption">
			            <h2>Somali Student Association at Middle Tennessee State University</h2>
			            <a href="https://www.facebook.com/SSAatMTSU/" target="_blank"><i class="fab fa-facebook fa-2x"></i></a>	
                         	
                </div>
	    </div>
		<div class="col-md-6">
		    <img class="img-circle" src="https://scontent.fyyz1-1.fna.fbcdn.net/v/t1.0-9/18740814_681294058724471_5894980437683969769_n.png?_nc_cat=106&_nc_ht=scontent.fyyz1-1.fna&oh=5fdca58aabcc42a6a26493a5026a005c&oe=5C8A282C">
		        <span class="helper"></span>
		    <div class="caption">
			            <h2>Somali Student Association at University of Toronto-Mississauga<a href="https://twitter.com/UTMSSA" target="_blank"> @UTMSSA</a></h2>
			            <a href="https://www.facebook.com/UTMSSA/" target="_blank"><i class="fab fa-facebook fa-2x"></i></a>	
                        <a href="https://twitter.com/UTMSSA" target="_blank"><i class="fab fa-twitter-square fa-2x"></i></a>	
            </div>
	    </div>
	</div>
</div>

<% include partials/footer%>