<% include partials/header%>
<link rel="stylesheet" type="text/css" href="/stylesheets/speakers.css">

<div>
    <h1 style="margin-top:15%; margin-left:10%; text-shadow:0px 2px 2px black">CHANGING THE NARRATIVE:
    </h1>
        
    <h1 style="margin-bottom:2%; margin-left:30%; text-shadow:0px 2px 2px black">CELEBRATING SOMALI SUCCESS</h1>
      
</div>

<!--Ist Row-->
<div class="container">
	<div class="row">
		<div class="col-md-6">
			<img class="speaker img-circle"  src="/images/faisal.png">
			<span class="helper"></span>
			    <div class="caption">
			           Faisal Hassan is a Canadian politician, who was elected to the Legislative Assembly of Ontario in the 2018 provincial election. He represents the riding of York South—Weston as a member of the Ontario New Democratic Party. Hassan is originally from Somalia. He emigrated to Canada in 1990, first settling in Winnipeg.	
                </div>
	    </div>
		<div class="col-md-6">
			<img class="speaker img-circle"  src="/images/zak.png">
			<span class="helper"></span>
			    <div class="caption">
			         Action Canada Fellow Public Policy Forum
                </div>
	    </div>
	</div>
</div>


<!--2nd Row-->
<div class="container">
	<div class="row">
		<div class="col-md-6">
			<img class="speaker img-circle"  src="/images/yasin.png">
			<span class="helper"></span>
			    <div class="caption">
			      Yasin Osman
is an award-winning Toronto-based photographer and visual storyteller who specializes in capturing evocative images of the living world. Raised in Regent Park (Toronto, Canada), Osman began to take photos to document his rapidly changing neighbourhood.	
                </div>
	    </div>
		<div class="col-md-6">
			<img class="speaker img-circle"  src="/images/deqa.png">
			<span class="helper"></span>
			    <div class="caption">
			         Networking & Interviewing Skills with Deqa Gelle (Founder and HR expert)
                </div>
	    </div>
	</div>
</div>


<!--3rd Row-->
<div class="container">
	<div class="row">
		<div class="col-md-6">
			<img class="speaker img-circle" src="/images/kadra.jpg">
			<span class="helper"></span>
			    <div class="caption">
			        Kadra Abdi is a published researcher, activist, and social entrepreneur living in Minnesota. She’s an executive board member of the American Relief Agency for the Horn of Africa, an international relief and development organization working to alleviate human suffering and build self-reliant communities in the Horn of Africa and in Minnesota
                </div>
	    </div>
		<div class="col-md-6">
			<img class="speaker img-circle"  src="/images/hali.jpeg">
			<span class="helper"></span>
			    <div class="caption">
			       Equity & Belonging Advocate | Talent Acquisition Professional | Diversity & Inclusion Strategist
                </div>
	    </div>
	</div>
</div>



<!--4th Row-->
<div class="container">
	<div class="row">
		<div class="col-md-6">
			<img class="speaker img-circle" src="/images/ahmed.jpeg">
			<span class="helper"></span>
			    <div class="caption">
			        Kadra Abdi is a published researcher, activist, and social entrepreneur living in Minnesota. She’s an executive board member of the American Relief Agency for the Horn of Africa, an international relief and development organization working to alleviate human suffering and build self-reliant communities in the Horn of Africa and in Minnesota
                </div>
	    </div>
		<div class="col-md-6">
			<img class="speaker img-circle"  src="/images/lul.jpeg">
			<span class="helper"></span>
			    <div class="caption">
			       Equity & Belonging Advocate | Talent Acquisition Professional | Diversity & Inclusion Strategist
                </div>
	    </div>
	</div>
</div>




<!--5th Row-->
<div class="container">
	<div class="row">
		<div class="col-md-6">
			<img class="speaker" class="img-circle" src="/images/kadra.jpg">
			<span class="helper"></span>
			    <div class="caption">
			        Kadra Abdi is a published researcher, activist, and social entrepreneur living in Minnesota. She’s an executive board member of the American Relief Agency for the Horn of Africa, an international relief and development organization working to alleviate human suffering and build self-reliant communities in the Horn of Africa and in Minnesota
                </div>
	    </div>
		<div class="col-md-6">
			<img class="speaker" class="img-circle" src="/images/hali.jpeg">
			<span class="helper"></span>
			    <div class="caption">
			       Equity & Belonging Advocate | Talent Acquisition Professional | Diversity & Inclusion Strategist
                </div>
	    </div>
	</div>
</div>




<!--6th Row-->
<div class="container">
	<div class="row">
		<div class="col-md-6">
			<img class="speaker img-circle" src="/images/kadra.jpg">
			<span class="helper"></span>
			    <div class="caption">
			        Kadra Abdi is a published researcher, activist, and social entrepreneur living in Minnesota. She’s an executive board member of the American Relief Agency for the Horn of Africa, an international relief and development organization working to alleviate human suffering and build self-reliant communities in the Horn of Africa and in Minnesota
                </div>
	    </div>
		<div class="col-md-6">
			<img class="speaker" class="img-circle" src="/images/hali.jpeg">
			<span class="helper"></span>
			    <div class="caption">
			       Equity & Belonging Advocate | Talent Acquisition Professional | Diversity & Inclusion Strategist
                </div>
	    </div>
	</div>
</div>
