<% include partials/header%>
<link rel="stylesheet" type="text/css" href="/stylesheets/sponsors.css">

<div id="box" class="container">
    <div class="row">
        <div class="col">
            <img id="leftlogo" src="/images/6ix.png">
        </div>
        <div id="content" class="col">
             <h1>Thank you Sponsors! </h1>
            <p class="para">We would like to thank all of our sponsors who have contributed to the success of SSA Nationals 2019. All proceeds will be donated to a charity operating in the Horn of Africa.</p>
        </div>
    </div> 
</div> 
<div id="sponsorbox" class="container">
    
     <h1><strong>SIF</strong></h1>

    <p class="para">
        The Student Initiatives Fund (SIF) is a grant-funding, standing committee that reports to the Student Services Advisory Committee. SIF is administered by the Department of Student Life on behalf of the Vice Provost Students, Ryerson University.   
    </p>

    <img class="sponsor" src="/images/sif.jpeg">  



    <h1><strong>ARAHA</strong></h1>

    <p class="para">
        Araha is a non-profit organization based in Columbia Heights, Minnesota. They work in the Horn of Africa region to Deliver Essentials and Develop Opportunities. ARAHA strives to alleviate human suffering and build self-reliant communities, by providing humanitarian aid and empowering individuals in the Horn of Africa and here at home. They envision a stable, sustainable, and thriving Horn of Africa.
        
    </p>

    <img class="sponsor" src="/images/araha.jpeg">



    <h1><strong>Chang School</strong></h1>
    <img  class="sponsor" src="/images/chang.jpeg">

    <h1><strong>Faculty of Communications</strong></h1>
    <img class="sponsor" src="/images/community.jpeg">
    
</div>



