body{
	
	background-color: 	#ECF0F1;
	font-family: Quicksand;

}



.container {
    margin-left: 20px;
}
h1{
    font-style: inherit;
    margin-top: 40px;
  
}
h2{
    font-style: inherit;
}
p {
    line-height: 1.5;
    font-size: 18px;
    width:60%;
}
.halal {
    color:green;
}

li{
    font-size: 15px;
    line-height: 1.75;
}


.image {
    width:60%;
    margin: 50px auto;
    border: 2px solid white;
    border-radius: 25px;
}



ul{
    margin-bottom: 80px;
}